/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.875em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.06em;

	@media (min-width: 768px) {
		color: $color_withe;
		flex-direction: row;
		font-size: 0.875em;
	}

	@media (max-width: 767px) {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100%;
		width: 100%;
		background-color: #EFF6FE;
		transition: left 0.5s;
		padding: 2em 1.5em;
		// text-align: center;

		&.open {
			left: 0;
		}
	}

	&__item {
		// display: inline-block;
		margin: 0 0 1em;
		display: flex;
		align-items: center;

		.icon_login {
			font-size: 1.4em;
			margin-right: 0.4em;
			font-weight: 400;
		}

		@media (min-width: 768px) {
			margin: 0 2em;
		}
	}

	&__link {
		color: inherit;
		text-decoration: none;
		margin-top: 1px;

		&:after {
			content: '';
			display: block;
			height: 1px;
			background-color: $color_withe;
			margin-left: 50%;
			width: 0;
			transition: 0.3s;
			transition-property: width, margin;
		}

		&:hover {
			// text-decoration: underline;

			&:after {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	&__toggle {
		@media (max-width: 767px) {
			position: absolute;
			color: $color_withe;
			border-top: 0.2em solid;
			border-bottom: 0.2em solid;
			left: 1.6em;
			top: 1.8em;
			width: 2em;
			height: 1.5em;
			cursor: pointer;
			z-index: 51;
			transition: border-color 0.3s;

			&:after,
			&:before {
				content: '';
				position: absolute;
				border-top: 0.2em solid;
				width: 100%;
				left: 0;
				top: 50%;
				margin-top: -0.1em;
				transition: transform 0.3s;
			}

			&.active {
				border-top-color: transparent;
				border-bottom-color: transparent;
				color: $main_color;

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			&:hover {
				// color: rgba($color_withe, .8);
			}
		}
	}
}

@media (max-width: 767px) {
	.nav {
		position: fixed;
		left: -300px;
		top: 0;
		bottom: 0;
		background-color: $color_withe;
		width: 300px;
		z-index: 10;
		overflow: hidden;
		padding: 5em 1em 2em;
		transition: left 0.3s;
		box-shadow: 0 0 1em rgba(#000, .1);

		&.open {
			left: 0;
		}
	}
}
