//- https://harp.su/rest/16/31nd42ppccgos0sr/crm.lead.add.json?FIELDS[TITLE]=Форма на сайте vasponyal.ru&FIELDS[NAME]=Константин Константинопольский&FIELDS[EMAIL][0][VALUE]=mama@deneg.net&FIELDS[PHONE][0][VALUE]=+79145238445&FIELDS[COMMENTS]=Хочу бигмаг

.footer
    section.footer__form#order
        .footer__bg
            img.wow.fadeInUp(src="img/zoom.svg", alt="")
            img.wow.fadeInUp(src="img/book.svg", alt="")
            img.wow.fadeInUp(src="img/bootle.svg", alt="")
        .container_center
            h2.section__title Оставьте свои контакты
            form.form.wow.fadeInUp(action="https://harp.su/rest/16/31nd42ppccgos0sr/crm.lead.add.json" data-success="Спасибо! Ваше сообщение отправлено.")
                input(type="hidden" value="Заявка с сайта" name="FIELDS[TITLE]")
                .form__body
                    .form__left
                        .form__row
                            input(type="text", name="FIELDS[NAME]" placeholder="Имя" required)
                        .form__row
                            input(type="text", name="FIELDS[EMAIL][0][VALUE]" placeholder="Электронная почта" required)
                        .form__row
                            input(type="tel", name="FIELDS[PHONE][0][VALUE]" placeholder="Телефон" required)
                    .form__right
                        .form__row
                            textarea(placeholder="Расскажите, чем мы можем вам помочь" name="FIELDS[COMMENTS]")
                .form__footer
                    .form__action
                        button.btn(type="submit") Отправить
                    .form__privacy Нажимая кнопку «отправить» вы соглашаетесь с обработкой персональных данных и принимаете политику конфендициальности
                .form__message.fadeInUp 
    .footer__middle
        .footer__content
            .footer__soc
                .soc
                    a.icon_fb(href="" target="blank")
                    a.icon_vk(href="" target="blank")
                    a.icon_twit(href="" target="blank")
                    a.icon_linked(href="" target="blank")

            .footer__logo
                a.logo(href="")
                    img(src="img/logo-foot.svg", alt="")
                .logo__text Экспертная система нового поколения
            .footer__contact
                a.footer__tel(href="tel: 8 800 350 01 62") 8 800 350 01 62
                a.footer__mail(href="mailto: info@vasponyal.ru") info@vasponyal.ru
    footer.footer__bottom
        .footer__content
            .footer__copy All rights reserved 2021 
            a.footer__policy(href="https://docs.google.com/document/d/1XlQ-xrCLBrRikFA-GkRHhtKJggRUkdy9LplonnY-XQM/edit?pli=1#" target="blank") Лицензионное соглашение 
            | 
            a.footer__policy(href="https://docs.google.com/document/d/1XlQ-xrCLBrRikFA-GkRHhtKJggRUkdy9LplonnY-XQM/edit?pli=1#" target="blank") Политика конфендициальности


// Begin Modal orderForm
.modal.fade.orderForm#orderForm
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title Оставьте свои контакты
            .modal-body 
                .form__row

// End modal orderForm

<script data-b24-form="click/2/hgz0rn" data-skip-moving="true"> (function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://harp.su/upload/crm/form/loader_2_hgz0rn.js'); </script>
button.hidden(type="button")
