-var version = '0.3';
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ВасПонял

        link(rel="preload" href="fonts/Noahregular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/vp.ttf?u20cpr" as="font" type="font/ttf" crossorigin)
        link(rel="preload" href="fonts/Noahbold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="fonts/Noah-Medium.woff2" as="font" type="font/woff2" crossorigin)

        <link rel="apple-touch-icon" sizes="180x180" href="img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/ico/favicon-16x16.png">
        <link rel="manifest" href="img/ico/site.webmanifest">
        <link rel="mask-icon" href="img/ico/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body.vas-ponial
        include header.pug

        main.main_content
            block content

        include footer.pug

        include scripts.pug
